# -*- coding: utf-8 -*-

"""
verizon

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.http.api_response import ApiResponse
from verizon.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from verizon.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from verizon.models.device_role import DeviceRole
from verizon.exceptions.api_exception import APIException


class DeviceRoleController(BaseController):

    """A Controller to access Endpoints in the verizon API."""
    def __init__(self, config):
        super(DeviceRoleController, self).__init__(config)

    def get_acl_rules_by_vendor_id(self,
                                   vendor_id):
        """Does a GET request to /api/v1/device-roles/vendor.

        This API allows the user to get the access control rules defined for
        them.

        Args:
            vendor_id (str): The user's Vendor ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. List of
                Access Rules

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.IMP_SERVER)
            .path('/api/v1/device-roles/vendor')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('VendorID')
                         .value(vendor_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('thingspace_oauth'), Single('SessionToken')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeviceRole.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', APIException)
            .local_error('401', 'Unauthorized', APIException)
            .local_error('403', 'Forbidden', APIException)
            .local_error('406', 'Not Acceptable', APIException)
            .local_error('429', 'Too many requests', APIException)
            .local_error('default', 'unexpected error', APIException)
        ).execute()
